<h1>NG ile</h1>
<div [ngSwitch]="userRole">
    <p *ngSwitchCase="'Admin'">Welcome Admin</p>
    <p *ngSwitchCase="'Member'">Welcome Member</p>

    <p *ngSwitchDefault>Please Login</p> <!--* Eğer userRole boş ise bu döner-->
</div>


<!--* @switche ile-->
<h1> switch ile</h1>

@switch (userRole) {
    @case ('Admin') {
        <p>Welcome Admin</p>
    }
    @case ('Member') {
        <p>Welcome Member</p>
    }
    @default {
        <p>Please Login</p>
    }
}




<h1 [style.color]="isLoggedIn? 'green':'red'" [style.textTransform]="isLoggedIn? 'uppercase':'lowercase'"> Welcome Admin</h1>

<h1> NG Style </h1>

<h1 [ngStyle]="
{'color' : isLoggedIn? 'green':'red' ,
 'textTransform' : isLoggedIn? 'uppercase':'lowercase'

}">
Ng Style Directive
</h1>

<!--* ngClass-->

<h1 [class.login]="isLoggedIn" [class.logout]="!isLoggedIn"> Class Binding</h1>

<h1 [ngClass]="{
    'login': isLoggedIn,
    'logout': !isLoggedIn
}"> Ng Class Directive</h1>


 