<h1>First Angular App</h1>

<app-navbar></app-navbar>
<app-header></app-header>

<h2>{{title}}</h2>
<p>{{2+2}}</p>

<button disabled = "{{isDisable}} ">Disable using String İnterpolation button</button>

<button [disabled] = "isDisable">Disable Using Property Binding  button</button>
<br><br> 
<!-- ! Class Binding-->

<button
[class.active] = "isActivite"   
[class.no-active] = "!isActivite"
[class.active-border] = "isActivite"   
[class.no-active-border] = "!isActivite"
>Click Me</button>
<br><br>
<!--!Style Binding-->

<button [class.apple] = "fruitName == 'apple'">Fruit Ninja</button>
<br><br>
<button 
[style.background-color]="isActivite ? 'red' : 'green'"
[style.border]="isActivite? '3px solid blue' : '' "
>Click</button>
<br><br>

<!--! Event Binding-->

<button (click)="buttonClick()">CLİCK ME</button>
<!--<img [src]="imgURL" alt="">-->

