
<!--* Old Way-->
<h2 *ngIf="isLoggedIn; else message">{{userName}}</h2>

<h2 *ngIf="!isLoggedIn">User is not Logged in </h2>

<ng-template #message>
    <h4>
        User is not logged in (loaded using ng-template)
    </h4>
</ng-template>
<br><br>

<!--* New Way-->
@if(isLoggedIn) {
    <h3 >{{userName}}</h3>
}
@else{
    <h3 >User is not logged in (loaded using if syntax block)</h3>
}

@if(!isLoggedIn) {
    <h3 >User is not logged in (loaded using if syntax block)</h3>
}


<!--* if Directive with Number Values-->

<button (click)="countLogginAttempts()" *ngIf="loginCount < 3">Log In</button>

<h4 *ngIf="loginCount > 3">Exceeded 3 login Attempts Try Again Later</h4>
<br><br>

<!--* if Directive with Number Values-->

@if(loginCount <3){
    <button (click)="countLogginAttempts()">Login Syntax</button>
}


@if(loginCount >= 3){ 
    <h4>Exceeded 3 login Attempts Try Again Later</h4>
}
<br><br>


<!--* if Directive with String Values-->
<h4 *ngIf="userRole =='Admin' else memberMessage">Welcome Admin</h4>


<ng-template #memberMessage>
    <h4>Welcome Member</h4>
</ng-template>

<br><br>


@if(userRole == 'Admin'){
    <h4>Welcom Admin</h4>
}
@else if (userRole == 'Member') {
    <h4>Welcome Member</h4>
}

<br><br>

<!--* ng-template-->

<ng-template>
    <p>This content is inside ng-template </p>
</ng-template>

<ng-template #callToAction>
    <p>Call To Action</p>
    <button>Join Now</button>
</ng-template>

<div>
    <h5>Sidebar</h5>
</div>
<div [ngTemplateOutlet]="callToAction">
    <h5>Hero</h5> 
</div>
<div>
    <h5>Footer</h5>
</div>


<!--* if Directive with Number Values-->

@if(loginCount < 3){
}
<button (click)="countLogginAttempts()">Login Syntax</button>
@if (loginCount > 3) {
}

<h4>Exceeded 3 login Attempts, Try Again! Later</h4>

<!--* Ng For Directive-->

<h3>{{users}}</h3>

<h3>{{users[0]}}</h3>
<h3>{{users[1]}}</h3>
<h3>{{users[2]}}</h3>
<h3>{{users[3]}}</h3>

<p>Ng Using NgFor</p>
<h3 *ngFor="let user of users">{{user}}</h3>

<p>For syntax Approach "18 Approach"</p>
@for(user of users; track user){
    <h3>{{user}} - Loaded Using For Syntax Block</h3>
}
<!--* !!!!!!!!!-->
<ul>
    <li *ngFor="let user of users">{{user}}</li>
</ul>

<ul>
@for(user of users; track user){
   
        <li>{{user}}</li>    
}
</ul>


@for(user of usersObj;track user){

   <li>{{user.name}} <button (click)="onDelete1(user)">Delete</button></li> 
}


<p *ngIf="usersObj.length==0"> No User To Display</p>

<ul>
    <li *ngFor="let usersobj of usersObj; let i = index; let usersCount = count">
        {{usersCount}}-{{i}} {{usersobj.name}} 
        <button (click)="onDelete2(2)">Delete</button></li>
        
</ul>


@if(usersObj.length== 0){
    <p>No Users to Display - Loaded Using Syntax</p>
}

    <h1>Yeni Söz Dizimi İle </h1>
@for(user of usersObj;track user; let i = $index; let usersCount =  $count; let first = $first; let last = $last){ <!--* $ işareti önemli burda-->

    <li>{{first}} {{last}} {{usersCount}} {{user.name}} <button (click)="onDelete2(i)">Delete</button></li> 
 }
 @empty {
    <p>No Users to Display - Loaded Using Syntax</p>
 }

<!--* Change Detection-->

<button (click)="addNewUser()">Add New User</button>




